{% extends 'app/base.html' %}
{% load static %}

{% block title %}Tambah Barang{% endblock %}

{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Form Penambahan Barang</h2>
    </div>
    <form action="{% url 'app:add-goods' %}" class="mx-5" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id-barang">ID barang</label>
            <input class="form-control" id="id-barang" name="id-barang" required type="text" />
        </div>
        <div class="mb-3">
            <label for="nama-item">Nama item</label>
            <select class="custom-select d-block w-100" id="nama-item" name="nama-item" required>
                <option value="">Pilih...</option>
                {% for item in items %}
                <option value="{{ item.nama }}">{{ item.nama }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="warna">Warna <span class="text-muted">(Opsional)</span></label>
            <input class="form-control" id="warna" name="warna" type="text" />
        </div>
        <div class="mb-3">
            <label for="url-foto">Url foto <span class="text-muted">(Opsional)</span></label>
            <input class="form-control" id="url-foto" name="url-foto" type="text" />
        </div>
        <div class="mb-3">
            <label for="kondisi">Kondisi</label>
            <input class="form-control" id="kondisi" name="kondisi" required type="text" />
        </div>
        <div class="mb-3">
            <label for="lama-penggunaan">Lama penggunaan <span class="text-muted">(Opsional)</span></label>
            <div class="input-group">
                <input class="form-control" id="lama-penggunaan" name="lama-penggunaan" type="month" />
                <div class="input-group-append">
                    <span class="input-group-text">Bulan</span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="pemilik-penyewa">Pemilik/penyewa</label>
            <select class="custom-select d-block w-100" id="pemilik-penyewa" name="pemilik-penyewa" required>
                <option value="">Pilih...</option>
                {% for pemilik_penyewa in pemiliks_penyewas %}
                <option value="{{ pemilik_penyewa.no_ktp }}">{{ pemilik_penyewa.nama_lengkap }}</option>
                {% endfor %}
            </select>
        </div>
        <hr class="my-4" />
        <h4 class="mb-3">Info Barang</h4>
        <div class="mb-3">
            <h5>+ Bronze</h5>
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="persen-royalty-bronze">Persen royalty</label>
                    <div class="input-group">
                        <input class="form-control" id="persen-royalty-bronze" name="persen-royalty-bronze" required type="number" />
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="harga-sewa-bronze">Harga sewa</label>
                    <div class="input-group">
                        <input class="form-control" id="harga-sewa-bronze" name="harga-sewa-bronze" required type="number" />
                        <div class="input-group-append">
                            <span class="input-group-text">Rupiah/minggu</span>
                        </div>
                    </div>
                </div>
            </div>
            <h5>+ Silver</h5>
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="persen-royalty-silver">Persen royalty</label>
                    <div class="input-group">
                        <input class="form-control" id="persen-royalty-silver" name="persen-royalty-silver" required type="number" />
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="harga-sewa-silver">Harga sewa</label>
                    <div class="input-group">
                        <input class="form-control" id="harga-sewa-silver" name="harga-sewa-silver" required type="number" />
                        <div class="input-group-append">
                            <span class="input-group-text">Rupiah/minggu</span>
                        </div>
                    </div>
                </div>
            </div>
            <h5>+ Gold</h5>
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="persen-royalty-gold">Persen royalty</label>
                    <div class="input-group">
                        <input class="form-control" id="persen-royalty-gold" name="persen-royalty-gold" required type="number" />
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="harga-sewa-gold">Harga sewa</label>
                    <div class="input-group">
                        <input class="form-control" id="harga-sewa-gold" name="harga-sewa-gold" required type="number" />
                        <div class="input-group-append">
                            <span class="input-group-text">Rupiah/minggu</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4" />
        <button class="btn btn-block btn-lg btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}