{% extends 'app/base.html' %}
{% load static %}

{% block title %}Tambah Barang{% endblock %}

{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Chat</h2>
    </div>
    {% if user == 'admin' %}
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">No. KTP Pengguna</th>
                <th scope="col">No. KTP Admin</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for chat in chats %}
            <tr>
                <td>{{ chat.id }}</td>
                <td>{{ chat.no_ktp_anggota }}</td>
                <td>{{ chat.no_ktp_admin }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id{{ chat.id }}">
                        Tampilkan Pesan
                    </button>
                    <div class="modal fade" id="id{{ chat.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ chat.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Isi Pesan</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ chat.pesan }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">No. KTP Admin</th>
                <th scope="col">Pesan</th>
            </tr>
        </thead>
        <tbody>
            {% for chat in chats %}
            <tr>
                <td>{{ chat.id }}</td>
                <td>{{ chat.no_ktp_admin }}</td>
                <td>{{ chat.pesan }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <hr class="my-4" />
    <h4>Tulis Pesan Kepada {% if user == 'admin' %}pengguna{% else %}admin{% endif %}</h4>
    <form action="{% url 'app:chat' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="no-ktp">No. KTP {% if user == 'admin' %}pengguna{% else %}admin{% endif %}</label>
            <input class="form-control" id="no-ktp" name="no-ktp" required type="text" />
        </div>
        <div class="mb-3">
            <label for="pesan">Pesan</label>
            <textarea class="form-control" id="pesan" name="pesan" required type="text" rows="5"></textarea>
        </div>
        <hr class="my-4" />
        <button class="btn btn-block btn-lg btn-primary" type="submit">Kirim</button>
    </form>
</div>
{% endblock %}
