{% extends "app/base.html" %}
{% load static %}

{% block heading %}
<script src="{% static 'js/daftar_item.js' %}"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"
  integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp"
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"
        integrity="sha384-uiSTMvD1kcI19sAHJDVf68medP9HA2E2PzGis9Efmfsdb8p9+mvbQNgFhzii1MEX"
        crossorigin="anonymous">
</script>
{% endblock heading %}

{% block body %} 
<div class="container">
<h1 class="my-4">Daftar Item</h1>
  <div id="riwayat" class="table-responsive">
    <p>Search tidak hanya mencari di nama item, tetapi juga di setiap text pada attribut lain.</p>
    <p>Klik pada judul kolom untuk mengurutkan data berdasarkan attribut di kolom.</p>
    <table id="daftar-item-table" class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nomor</th>
          <th scope="col">Nama Item</th>
          <th scope="col">Kategori</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in daftar_item %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{item.nama_item}}</td>
          <td>{{item.kategori_item}}</td>
          {% if request.session.is_admin %}
          <td>
            <meta name="csrf-token" content="{{ csrf_token }}">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="update-item btn btn-primary" value="{{item.nama_item}}">Update</button>
                <button type="button" class="delete-item btn btn-primary" value="{{item.nama_item}}">Delete</button>
                <button type="button" class="add-goods btn btn-primary" value="{{item.nama_item}}">Tambah Barang</button>
            </div>
          </td>
          {% elif request.session.is_anggota %}
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="submit" class="view-goods btn btn-primary" value="{{item.nama_item}}">Lihat barang-barang</button>
            </div>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-delete-title">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="modal-delete-body" class="modal-body"> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="confirm-delete">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>