{% extends 'app/base.html' %}
{% load static %}

{% block title %}Tambah Pesanan{% endblock %}
{% block heading %}
<script>
function showModal() {
    $("#confirmed").modal("show");
}
function createPesanan(ktp, barang, waktu, harga) {
    $.ajax(
        {
            url: "/view-form-pesanan/",
            data : {"no_ktp" : ktp, "barang" : barang, "waktu": waktu, "harga" : harga, "confirm": true, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value },
            method : "POST",
        }
    )
}

</script>
{% endblock %}
{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Form Pemesanan Barang</h2>
    </div>
    {% if total %}
  <div class="modal" id="confirmed">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Konfirmasi Pemesanan </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body"> 
          The total price is {{total}}, do you wish to continue? {{anggota}}
        </div>

        <!-- Modal footer -->
        {% csrf_token %}
        <div class="modal-footer">
          <button id="del-but" type="button" class="btn btn-secondary" data-dismiss="modal">No, Dont</button>
          <button id="accept-but" type="button" class="btn btn-primary" data-dismiss="modal" onClick="createPesanan(`{{anggota}}`, {{list_barang}}, {{waktu}}, {{total}})">Yes, Continue</button>
        </div>

      </div>
    </div>
  </div>
  <script> showModal(); //alert("peepgagiga");</script>
  {% endif %}

    <form action="{% url 'app:view-form-pesanan' %}" class="mx-5" method="post">
    {% csrf_token %}
        <label>Anggota</label>
        {% if tipe_pengguna == 'admin' %}
        <div class="mb-3">
            <select class="custom-select d-block w-100" name="anggota" id="barang" required>
            {% for anggota in list_anggota %}
                <option type="radio" value="{{anggota.no_ktp}}">{{ anggota.no_ktp}}</option>
            {% endfor %}
            </select>
        </div>
        {% else %}
        <div class="mb-3">
            <input name="anggota" id="anggota" list="list_anggota" value="{{list_anggota}}" disabled>
        </div>
        {% endif %}
        <div class="mb-3">
            <label>List Barang</label>
            <select class="custom-select d-block w-100" name="barang" id="barang" required multiple>
                {% for barang in barang %}
                <option type="radio" value="{{ barang.id_barang }}">{{ barang.nama_item }}</option>
                {% endfor %}
            </select>
        </div>
        <hr class="my-4" />
        <div class="mb-3">
            <label for="lama-sewa">Lama Sewa<span class="text-muted"></span></label>
            <div class="input-group">
                <input class="form-control"name="waktu" id="waktu" type="text" />
                <div class="input-group-append">
                    <span class="input-group-text">Isi dengan integer (Hari)</span>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-lg btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
