{% extends 'app/base.html' %}
{% load static %}

{% block title %}Form Review Barang{% endblock %}

{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Form Review Barang</h2>
    </div>
    <form class="mx-5">
        <div class="mb-3">
            <label for="id-barang">ID Barang</label>
            <input class="form-control" id="level" required type="text"></input>
        </div>
        <div class="mb-3">
            <label for="warna">Deskripsi<span class="text-muted"></span></label>
            <input class="form-control" id="poin" type="text"/>
        </div>
        <hr class="my-4" />
        <button class="btn btn-block btn-lg btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
