{% extends 'app/base.html' %}
{% load static %}

{% block title %}Tambah Pengiriman{% endblock %}

{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Form Pengiriman Barang</h2>
    </div>
    <form action="{% url 'app:view-form-pengiriman' %}" class="mx-5">
        {% if user == 'admin' %}<div class="mb-3">
            <label>Anggota / Admin</label>
            <select class="custom-select d-block w-100" id="nama-anggota" required>
                <option value="">Pilih...</option>
                {% for anggota in anggota %}
                <option value="{{ anggota }}">{{ anggota }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="mb-3">
            <label>List Barang</label>
            <select class="custom-select d-block w-100" id="list-barang" required>
                <option type="radio" value="">Pilih...</option>
                {% for barang in barang %}
                <option type="radio" value="{{ barang }}">{{ barang }}</option>
                {% endfor %}
            </select>
        </div>
        <hr class="my-4" />
        <div class="mb-3">
            <label for="lama-sewa">Lama Sewa<span class="text-muted"></span></label>
            <div class="input-group">
                <input class="form-control" id="lama-sewa" type="date" />
                <div class="input-group-append">
                    <span class="input-group-text">Hari</span>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-lg btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
