{% extends 'app/base.html' %}
{% load static %}

{% block title %}Form Level{% endblock %}
{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Form Level</h2>
        {% if err %}
        <h2>Opps try again</h2>
        <h2>{{ err }}</h2>
        {% endif %}
    </div>
    <form class="mx-5" method="post">
        <div class="mb-3">
            <label for="id-barang">Nama Level</label>
            <input class="form-control" id="nama_level" required type="text" value="Gold"/>
        </div>
        <div class="mb-3">
            <label for="warna">Minimum Poin <span class="text-muted"></span></label>
            <input class="form-control" id="minimum_poin" required type="text" value="500"/>
        </div>
        <div class="mb-3">
            <label for="url-foto">Deskripsi<span class="text-muted"></span></label>
            <input class="form-control" id="deskripsi" required type="text" value="Highest Level"/>
        </div>
        <hr class="my-4" />
        <button class="btn btn-block btn-lg btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
