{% extends "app/base.html" %}

<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% block title %}Toys Rent{% endblock title %}
    </head>
    <body>
        {% block body %}
        <div class="row"> 
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center" style="font-size:200px;">Toys Rent</div>
            <div class="col-md-4"></div>
        </div>
        {% endblock body %} 
    </body>
</html>

