{% extends "app/base.html" %}
{% block body %} 
<div id="container" class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="display-4 text-center">Form Login</h1>
            <div class="info-form">
              <form action="{% url 'app:login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                  <label for="no_ktp" class="col-2 col-form-label">Nomor Ktp</label>
                  <div class="col-10">
                    <input type="text" class="form-control" id="no_ktp" name="no_ktp"  placeholder="1090123xxx">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-2 col-form-label">Email</label>
                  <div class="col-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="toysrent@gmail.com">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12 text-center">
                    <label style="color:red">{{error}}</label>
                  </div>
                </div>
              </form> 
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock body %} 