<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'app:index' %}">Toys Rent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% if request.session.is_anggota %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:profil' %}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:daftar-item' %}">Daftar Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:view-goods' %}">Daftar Barang</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Pesanan
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'app:view-form-pesanan' %}">Buat Pesanan</a>
                <a class="dropdown-item" href="{% url 'app:view-pesanan' %}">Daftar Pesanan</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Pengiriman
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'app:view-form-pengiriman' %}">Buat Pengiriman</a>
                <a class="dropdown-item" href="{% url 'app:view-pengiriman' %}">Daftar Pengiriman</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:chat' %}">Chat dengan Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:view-review' %}">Daftar Review Barang</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
            </li>
            {% elif request.session.is_admin %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:profil' %}">Profil</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Item
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'app:tambah-item' %}">Tambah Item</a>
                <a class="dropdown-item" href="{% url 'app:daftar-item' %}">Daftar Item</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Barang
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'app:add-goods' %}">Tambah Barang</a>
                <a class="dropdown-item" href="{% url 'app:view-goods' %}">Daftar Barang</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Level
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'app:form-level' %}">Tambah Level</a>
                <a class="dropdown-item" href="{% url 'app:view-level' %}">Daftar Level</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Pesanan
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'app:view-form-pesanan' %}">Buat Pesanan</a>
                <a class="dropdown-item" href="{% url 'app:view-pesanan' %}">Daftar Pesanan</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Pengiriman
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'app:view-form-pengiriman' %}">Buat Pengiriman</a>
                <a class="dropdown-item" href="{% url 'app:view-pengiriman' %}">Daftar Pengiriman</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:chat' %}">Chat dengan Pengguna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:view-review' %}">Daftar Review Barang</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:logout' %}"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
            </li>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:signup' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a>
                </li>
            </ul>
            {% endif %}
        </ul>
    </div>
</nav>
