{% extends "app/base.html" %}
{% block body %} 
<table class="table">
  <tbody>
    <tr>
      <th scope="row">No Ktp</th>
      <td>{{no_ktp}}</td>
    </tr>
    <tr>
      <th scope="row">Nama Lengkap</th>
      <td>{{nama}}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{email}}</td>
    </tr>
    <tr>
      <th scope="row">Tanggal Lahir</th>
      <td>{{tanggal_lahir}}</td>
    </tr>
    <tr>
      <th scope="row">Nomor Telepon</th>
      <td>{{nomor_telepon}}</td>
    </tr>
    {% for alamat in daftar_alamat %}
    <tr>
      <th scope="row">Alamat {{alamat.nama_alamat}}</th>
      <td>{{alamat.alamat_lengkap}}</td>
    </tr>
    {% endfor %}
    {% if request.session.is_anggota %}
    <tr>
      <th scope="row">Poin</th>
      <td>{{poin}}</td>
    </tr>
    <tr>
      <th scope="row">Level</th>
      <td>{{level}}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}