{% extends "app/base.html" %}
{% load static %}

{% block heading %}
<script src="{% static 'js/update_item.js' %}"></script>
{% endblock %}

{% block body %} 
<div id="container" class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="display-4 text-center">Form Update Item</h1>
            <div class="info-form">
              <form id="update-item-form" action="{% url 'app:update-item' %}" method="POST">
                <meta name="csrf-token" content="{{ csrf_token }}">
                <div class="form-group row">
                  <label for="nama-item" class="col-2 col-form-label">Nama</label>
                  <div class="col-10">
                    <input type="text" class="form-control" id="nama-item" name="nama-item" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="deskripsi-item" class="col-2 col-form-label">Deskripsi</label>
                  <div class="col-10" required>
                    <input type="text" class="form-control" id="deskripsi-item" name="deskripsi-item">
                  </div>  
                </div>
                <div class="form-group row">
                  <label for="rentang-usia" class="col-2 col-form-label">Rentang Usia</label>
                  <div class="col-4" required>
                    <input type="number" class="form-control" id="usia-minimal" name="usia-minimal" placeholder="Usia minimal">
                  </div>
                  <div class="col-1 text-center">
                    <p> - </p>
                  </div>
                  <div class="col-4" required>
                    <input type="number" class="form-control" id="usia-maksimal" name="usia-maksimal" placeholder="Usia maksimal">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="bahan-item" class="col-2 col-form-label">Bahan</label>
                  <div class="col-10">
                    <input type="text" class="form-control" id="bahan-item"  name="bahan-item">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Kategori</label>
                  <div class="col-10">
                    Gunakan ctrl + click (windows) atau command + click (mac) untuk memilih lebih dari satu kategori
                    <select multiple name="kategori-item" class="custom-select" id="kategori-item">
                      {% for i in kategori %}
                      <option>{{i}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
                <div class="form-group row text-center">
                  <div class="col-12">
                    <label style="color:red" id="error-text">{{error}}</label>
                  </div>
                </div>
              </form> 
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock body %} 