{% extends 'app/base.html' %}
{% load static %}

{% block title %}Update Barang{% endblock %}
{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Form Update Barang</h2>
    </div>
    <form class="mx-5" method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label for="nama-barnag">Nama Barang: </label>
            <div class="mb-3" id="nama-barang">{{ list_barang }}</div>
        </div>
        <div class="mb-3">
            <label for="lama-penggunaan">Lama Sewa<span class="text-muted">(Opsional)</span></label>
            <div class="input-group">
                <input type="hidden" value="{{ id_barang }}" name="id_pemesanan"/>
                <input class="form-control" id="lama-penggunaan" name="waktu" type="text" value="{{ waktu }}"/>
                <div class="input-group-append">
                    <span class="input-group-text">Isi dengan integer (Hari)</span>
                </div>
            </div>
        </div>
        {% if tipe_pengguna == 'Admin' %}<div class="mb-3">
            <label>Status</label>
            <select class="custom-select d-block w-100" id="list-status" name="status" required>
                {% for status in list_status %}
                <option type="radio" value="{{ status.nama }}">{{ status.nama }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <hr class="my-4" />
        <button class="btn btn-block btn-lg btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
