{% extends 'app/base.html' %}
{% load static %}

{% block title %}Update Level{% endblock %}
{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Form Update Level</h2>
        {% if err %}
        <h2>Opps try again</h2>
        <h2>{{ err }}</h2>
        {% endif %}
    </div>
    
    <form class="mx-5" method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label for="id-barang">Nama Level</label>
            <input class="form-control" id="nama_level" name="nama_level" type="text" value="{{ nama_level }}"/>
        </div>
        <div class="mb-3">
            <label for="warna">Minimum Poin <span class="text-muted"></span></label>
            <input class="form-control" id="minimum_poin" name = "minimum_poin" type="text" value="{{ minimum_poin }}">
        </div>
        <div class="mb-3">
            <label for="url-foto">Deskripsi<span class="text-muted"></span></label>
            <input class="form-control" id="deskripsi" name="deskripsi" type="text" value="{{ deskripsi }}">
        </div>
        <hr class="my-4" />
        <button class="btn btn-block btn-lg btn-primary" type="submit" method="post">Submit</button>
    </form>
</div>
{% endblock %}
