{% extends 'app/base.html' %}
{% load static %}

{% block title %}Daftar Level{% endblock %}
{% block heading %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script>$(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"
  integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp"
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"
        integrity="sha384-uiSTMvD1kcI19sAHJDVf68medP9HA2E2PzGis9Efmfsdb8p9+mvbQNgFhzii1MEX"
        crossorigin="anonymous">
</script>
{% endblock %}
{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        {% if login_first %}
        <h2>{{login_first}}</h2>
        {% else %}
        <h2>Daftar Level</h2>
        {% endif %}
    </div>
    <form method="post">
    {% csrf_token %}
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Level</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Minimum Poin</th>
                    {% if tipe_pengguna == 'Admin' %}<th scope="col">Action</th>{% endif %}
                </tr>
            </thead>
            
            <tbody>
                {% for level in levels %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ level.nama_level }}</td>
                    <td>{{ level.deskripsi }}</td>
                    <td>{{ level.minimum_poin }}</td>
                    {% if tipe_pengguna == 'Admin' %}
                    <td>
                        <a href="/update-level/{{level.nama_level}}" class="btn btn-primary">Update</a>
                        
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{level.nama_level}}" value="{{ level.nama_level }}">
                      Delete
                    </button>
                    <div class="modal fade" id="exampleModal-{{level.nama_level}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure want to delete {{ level.nama_level }}?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Don't Delete</button>
                            <button name="nama_level" class="btn btn-primary" value="{{ level.nama_level }}">Yes, Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                
            </tbody>
            <tfoot>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Level</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Minimum Poin</th>
                {% if tipe_pengguna == 'Admin' %}<th scope="col">Action</th>{% endif %}
            </tr>
          </tfoot>
        </table>
        <hr class="my-4" />
    </form>
</div>
{% endblock %}