{% extends 'app/base.html' %}
{% load static %}

{% block title %}Daftar pengiriman{% endblock %}

{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Daftar Pengiriman Barang</h2>
    </div>
    <form>
        <div class="mb-3">
            <label for="urutan">Urutkan berdasarkan:</label>
            <select class="custom-select d-block w-100" id="urutan" required>
                <option value="">Pilih...</option>
                <option value="nama">Nama</option>
                <option value="tanggal">Tanggal</option>
            </select>
        </div>
    </form>
    <form>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">No. Resi</th>
                    <th scope="col">Nama Barang</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action Semua User</th>
                    {% if user == 'anggota' %}<th scope="col">Action Anggota</th>{% endif %}

                </tr>
            </thead>
            
            <tbody>
                {% for pengiriman in pengirimans %}
                <tr>
                    <td>{{ pengiriman.no_resi }}</td>
                    <td>{{ pengiriman.nama_barang }}</td>
                    <td>{{ pengiriman.tanggal }}</td>
                    <td>{{ pengiriman.status }}</td>
                    <td>
                        <a href="" class="btn btn-primary">Update</a>
                    </td>
                    <td>{% if user == 'anggota' %}<button class="btn btn-primary" type="button">Delete</button>{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr class="my-4" />
    </form>
</div>
{% endblock %}
