{% extends 'app/base.html' %}
{% load static %}

{% block title %}Daftar Pesanan{% endblock %}
{% block heading %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script>$(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"
  integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp"
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"
        integrity="sha384-uiSTMvD1kcI19sAHJDVf68medP9HA2E2PzGis9Efmfsdb8p9+mvbQNgFhzii1MEX"
        crossorigin="anonymous">
</script>
{% endblock %}
{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        {% if login_first %}
        <h2> {{login_first}} </h2>
        {% else %}
        <h2>Daftar Pemesanan</h2>
        {% endif %}
        {% if err %}
        <h2>Opps try again</h2>
        <h2>{{ err }}</h2>
        {% endif %}
    </div>
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col">ID Barang</th>
                    <th scope="col">Daftar Barang</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action Semua User</th>
                    {% if tipe_pengguna == 'Anggota' %}<th scope="col">Action Anggota</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for pesanan in pemesanan %}
                <tr>
                <form method="post">
                {% csrf_token %}
                    <td>{{ pesanan.id_pemesanan }}</td>
                    <td>{{ pesanan.nama_item }}</td>
                    <td>{{ pesanan.harga_sewa }}</td>
                    <td>{{ pesanan.deskripsi }}</td>
                    <td>
                        <a href="/update-pesanan/{{pesanan.id_pemesanan}}" class="btn btn-primary">Update</a>
                    </td>
                    {% if tipe_pengguna == 'Anggota' %}<td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{pesanan.id_pemesanan}}" value="{{ pesanan.id_pemesanan }}">
                      Delete
                    </button>
                    <div class="modal fade" id="exampleModal-{{pesanan.id_pemesanan}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure want to delete {{ pesanan.id_pemesanan }} with item {{ pesanan.nama_item }}?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Don't Delete</button>
                            <input type="hidden" name="status_pemesanan" value="{{pesanan.deskripsi}}">
                            <button name="id_pemesanan" class="btn btn-primary" value="{{ pesanan.id_pemesanan }}">Yes, Delete</button>
                          </div>
                        </div>
                      </div>
                    </div></td>
                    {% endif %}
                </form>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                    <th scope="col">ID Barang</th>
                    <th scope="col">Daftar Barang</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action Semua User</th>
                    {% if tipe_pengguna == 'Anggota' %}<th scope="col">Action Anggota</th>{% endif %}
                </tr>
            </tfoot>
        </table>
        <hr class="my-4" />
</div>
{% endblock %}
