{% extends 'app/base.html' %}
{% load static %}

{% block title %}Daftar Review Barang{% endblock %}

{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Daftar Review Barang</h2>
    </div>
    <form>
        <div class="mb-3">
            <label for="urutan">Urutkan berdasarkan:</label>
            <select class="custom-select d-block w-100" id="urutan" required>
                <option value="">Pilih...</option>
                <option value="nama">Nama</option>
                <option value="tanggal">Tanggal</option>
            </select>
        </div>
    </form>
    <form>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Barang</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Deskripsi</th>
                </tr>
            </thead>
            
            <tbody>
                {% for review in reviews %}
                <tr>
                    <td>{{ review.id_review }}</td>
                    <td>{{ review.nama_barang }}</td>
                    <td>{{ review.tanggal }}</td>
                    <td>{{ review.deskripsi }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr class="my-4" />
    </form>
</div>
{% endblock %}
