{% extends 'app/base.html' %}
{% load static %}

{% block title %}Tambah Barang{% endblock %}
{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Daftar Barang</h2>
    </div>
    <form action="{% url 'app:view-goods' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="urutan">Urutkan berdasarkan:</label>
            <select class="custom-select d-block w-100" id="urutan" name="urutan" onchange="if(this.value != 0) { this.form.submit(); }">
                <option value="">Pilih...</option>
                <option value="nama">Nama</option>
                <option value="kategori">Kategori</option>
            </select>
        </div>
    </form>
    <form>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">ID Barang</th>
                    <th scope="col">Nama Item</th>
                    <th scope="col">Warna</th>
                    <th scope="col">Kondisi</th>
                    <th scope="col">Action Semua User</th>
                    {% if user == 'admin' %}<th scope="col">Action Admin</th>{% endif %}
                    {% if user == 'anggota' %}<th scope="col">Action Anggota</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for good in goods %}
                <tr>
                    <td>{{ good.id_barang }}</td>
                    <td>{{ good.nama_item }}</td>
                    <td>{{ good.warna }}</td>
                    <td>{{ good.kondisi }}</td>
                    <td><a href="/view-goods-details/{{ good.id_barang }}" class="btn btn-primary">Lihat Detail Barang</a></td>
                    {% if user == 'admin' %}
                    <td>
                        <a href="/update-goods/{{ good.id_barang }}" class="btn btn-primary">Update</a>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id{{ good.id_barang }}">
                            Delete
                        </button>
                        <div class="modal fade" id="id{{ good.id_barang }}" tabindex="-1" role="dialog" aria-labelledby="{{ good.id_barang }}Title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">ID Barang: {{ good.id_barang }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah kamu yakin ingin menghapus barang ini?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
                                        <button onclick="location.href='/delete-goods/{{ good.id_barang }}'" type="button" class="btn btn-danger">Ya</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                    {% if user == 'anggota' %}
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="{{ good.id_barang }}" type="checkbox" />
                        <label class="custom-control-label" for="{{ good.id_barang }}"></label>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user == 'anggota' %}
        <hr class="my-4" />
        <button class="btn btn-block btn-lg btn-primary" type="submit">Pesan</button>
        {% endif %}
    </form>
</div>
{% endblock %}
