{% extends 'app/base.html' %}
{% load static %}

{% block title %}Detail Barang{% endblock %}
{% block body %}
<div class="col-md-10 container">
    <div class="py-5 text-center">
        <h2>Detail Barang</h2>
    </div>
    <div class="text-center">
        <img class="d-block mx-auto mb-4" src="{{ goods.url_foto }}" height="30%" width="30%" />
        <h4>ID barang: {{ goods.id_barang }}</h4>
    </div>
    <hr class="my-4" />
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="font-weight-bold">Nama item:</span> {{ goods.nama_item }}</li>
        <li class="list-group-item"><span class="font-weight-bold">Warna:</span> {{ goods.warna }}</li>
        <li class="list-group-item"><span class="font-weight-bold">Kondisi:</span> {{ goods.kondisi }}</li>
        <li class="list-group-item"><span class="font-weight-bold">Lama penggunaan:</span> {{ goods.lama_penggunaan }} bulan</li>
        <li class="list-group-item"><span class="font-weight-bold">{% if is_pemilik %}Pemilik{% else %}Penyewa{% endif %}:</span> {{ goods.pemilik_penyewa }}</li>
        <li class="list-group-item"><span class="font-weight-bold">Persen royalty bronze:</span> {{ bronze_info.persen_royalti|floatformat:'2' }} %</li>
        <li class="list-group-item"><span class="font-weight-bold">Harga sewa bronze:</span> {{ bronze_info.harga_sewa }} Rupiah/minggu</li>
        <li class="list-group-item"><span class="font-weight-bold">Persen royalty silver:</span> {{ silver_info.persen_royalti|floatformat:'2' }} %</li>
        <li class="list-group-item"><span class="font-weight-bold">Harga sewa silver:</span> {{ silver_info.harga_sewa }} Rupiah/minggu</li>
        <li class="list-group-item"><span class="font-weight-bold">Persen royalty gold:</span> {{ gold_info.persen_royalti|floatformat:'2' }} %</li>
        <li class="list-group-item"><span class="font-weight-bold">Harga sewa gold:</span> {{ gold_info.harga_sewa }} Rupiah/minggu</li>
    </ul>
</div>
{% endblock %}
